*~
*.sw[mnpcod]
*.log
*.lock
package-lock.json
.npmrc
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.sass-cache/
.versions/
coverage/
collection/
dist/
dist-transpiled/
target/
node_modules/
tmp/
temp/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

.package.tmp.json

*.css.ts

stats.json

#core stuff
packages/core/www/
packages/core/loader/
.stencil/
packages/core/cypress/videos/
packages/core/cypress/sreenshots/

#storybook stuff
storybook-static/

#java stuff
packages/jsp/target/
packages/jsp/.classpath
packages/jsp/.project
packages/jsp/.settings/